{% load static %}

<!doctype html>
<html lang="en">
  <head>
  	<title>Courses</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href="{% static 'https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' %}" rel='stylesheet' type='text/css'>

	<link rel="stylesheet" href="{% static 'https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css' %}">
	
	<link rel="stylesheet" href="{% static '/home/css/style.css' %}">
	<link rel="stylesheet" href="{% static '/profile/style.css' %}">

	</head>
	<body>
	<section class="ftco-section">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-6 text-center mb-5">
				</div>
			</div>
		</div>
		
		<div class="container">
			<div class="row justify-content-between">
				<div class="col">
					<a class="navbar-brand" href="/student-profile/"> University Info Desk <span>Student</span></a>
				</div>

				</div>
			</div>
		</div>
		<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
	    <div class="container">
	    
	      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
	        <span class="fa fa-bars"></span> Menu
	      </button>


	      <div class="collapse navbar-collapse" id="ftco-nav">
	        <ul class="navbar-nav mr-auto">
	        	<li class="nav-item"><a href="/student-profile/" class="nav-link">Profile</a></li>
	        	<li class="nav-item dropdown">
            </li>
				<li class="nav-item"><a href="/student-announcement-view/" class="nav-link">Announcement</a></li>
				<li class="nav-item"><a href="/complain-student-view/" class="nav-link">Complain</a></li>
	        	<li class="nav-item active"><a href="/course-view/" class="nav-link">Course</a></li>
	        	<!-- <li class="nav-item"><a href="/add-course/" class="nav-link">Add Course</a></li> -->
	          <!-- <li class="nav-item"><a href="#" class="nav-link">Contact</a></li> -->
	        </ul>
	      </div>
	    </div>
		
	  </nav>
    <!-- END nav -->

	<div class="container">
		<div class="row justify-content-center">
			<div class="col-md-6 text-center mb-5">
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="table-wrap">
					<table class="table table-striped">
					  <thead>
						<tr>
						  <th>Course Code</th>
						  <th>Name</th>
						  <th>Discription</th>
						  <th>Credit</th>
						  <th>Faculty</th>
						  <th>Department</th>
						  <th>Redirect</th>
						</tr>
					  </thead>
					  <tbody>
						{% for c in course %}
						<tr>
						
							<th scope="row"><a href = "/course-content/{{c.course_id}}/">{{c.course_id}}</a></th>
							<td>{{c.course_name}}</td>
							<td>{{c.course_description}}</td>
							<td>{{c.course_credit}}</td>
							<td>{{c.course_faculty}}</td>
							<td>{{c.course_department}}</td>
							<td><a href = "/course-content/{{c.course_id}}/" class="btn btn-success">GO</a></td>
						  
						  <!-- <td><a href="#" class="btn btn-success">Progress</a></td> -->
						</tr>
						{% endfor%}
						
					  </tbody>
					</table>
				</div>
			</div>
		</div>
	</div>



	
<script src="{% static '/home/js/jquery.min.js' %}"></script>
  <script src="{% static '/home/js/popper.js' %}"></script>
  <script src="{% static '/home/js/bootstrap.min.js' %}"></script>
  <script src="{% static '/home/js/main.js' %}"></script>


  <script src="{% static '/course/js/jquery.min.js' %}"></script>
  <script src="{% static '/course/js/popper.js' %}"></script>
  <script src="{% static '/course/js/bootstrap.min.js' %}"></script>
  <script src="{% static '/course/js/main.js' %}"></script>

	</body>
</html>

