{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Register</title>
	<!-- Mobile Specific Metas -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<!-- Font-->
	<link rel="stylesheet" type="text/css" href="{% static '/register/css/opensans-font.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static '/register/fonts/line-awesome/css/line-awesome.min.css' %}">
	<!-- Jquery -->
	<link rel="stylesheet" href="{% static '/register/https://jqueryvalidation.org/files/demo/site-demos.css' %}">
	<!-- Main Style Css -->
    <link rel="stylesheet" href="{% static '/register/css/style.css' %}"/>
</head>
<body class="form-v7">
	<div class="page-content">
		<div class="form-v7-content">
			<div class="form-left">
				<img src="{% static '/register/images/wall_reg.jpg' %}" alt="form" height="535">
				<p class="text-1"></p>
				<!-- <p class="text-2">Privaci policy & Term of service</p> -->
			</div>

			<form class="form-detail" action="#" method="post" id="myform">
				{% csrf_token %}

				{% if messages %}
					{% for message in messages %}
						<p>{{ message }}</p>
					{% endfor %}
				{% endif %}

				<div class="form-row">
					<label for="username">Student ID</label>
					<input type="text" name="studentid" id="username" class="input-text">
				</div>
				<div class="form-row">
					<label for="your_email">E-MAIL</label>
					<input type="text" name="email" id="your_email" class="input-text" required pattern="[^@]+@[^@]+.[a-zA-Z]{2,6}">
				</div>
				<div class="form-row">
					<label for="password">PASSWORD</label>
					<input type="password" name="password" id="password" class="input-text" required>
				</div>
				<div class="form-row">
					<label for="comfirm_password">CONFIRM PASSWORD</label>
					<input type="password" name="password2" id="comfirm_password" class="input-text" required>
				</div>
				<div class="form-row-last">
					<input type="submit" name="register" class="register" value="Register">
					<p>Or<a href="/student-login/">Sign in</a></p>
				</div>
			</form>

		</div>
	</div>
	<script src="{% static '/register/https://code.jquery.com/jquery-1.11.1.min.js' %}"></script>
	<script src="{% static '/register/https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js' %}"></script>
	<script src="{% static '/register/https://cdn.jsdelivr.net/jquery.validation/1.16.0/additional-methods.min.js' %}"></script>
	<script>
		// just for the demos, avoids form submit
		jQuery.validator.setDefaults({
		  	debug: true,
		  	success:  function(label){
        		label.attr('id', 'valid');
   		 	},
		});
		$( "#myform" ).validate({
		  	rules: {
			    your_email: {
			      	required: true,
			      	email: true
			    },
			    password: "required",
		    	comfirm_password: {
		      		equalTo: "#password"
		    	}
		  	},
		  	messages: {
		  		username: {
		  			required: "Please enter an username"
		  		},
		  		your_email: {
		  			required: "Please provide an email"
		  		},
		  		password: {
	  				required: "Please provide a password"
		  		},
		  		comfirm_password: {
		  			required: "Please provide a password",
		      		equalTo: "Wrong Password"
		    	}
		  	}
		});
	</script>
</body>
</html>