{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{% static '/login/fonts/icomoon/style.css' %}">

    <link rel="stylesheet" href="{% static '/login/css/owl.carousel.min.css' %}">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static '/login/css/bootstrap.min.css' %}">
    
    <!-- Style -->
    <link rel="stylesheet" href="{% static '/login/css/style.css' %}">


    <title>Login Student</title>
  </head>
  <body>
  

  
  <div class="content">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <img src="{% static '/login/images/undraw_remotely_2j6y.svg' %}" alt="Image" class="img-fluid">
        </div>
        <div class="col-md-6 contents">
          <div class="row justify-content-center">
            <div class="col-md-8">
              <div class="mb-4">
              <h3>University Info Desk</h3>         
                <strong class="text-muted">Student Login</strong>                 
              <p class="mb-4"></p>
            </div>

            <form action="#" method="post">
              {% csrf_token %}
              
              {% if messages %}
                {% for message in messages %}
                    <p>{{ message }}</p>
                {% endfor %}
              {% endif %}

              <div class="form-group first">
                <label for="username">Student ID</label>

                <input type="text" name = "studentid" class="form-control" id="username">
              </div>

              <div class="form-group last mb-4">
                <label for="password">Password</label>
                <input type="password" name = "password" class="form-control" id="password">
              

              </div>
              <input type="submit" value="Log In" class="btn btn-block btn-primary">

                      
            </form>
            <span class="d-block text-left my-4 text-muted"><a href = "/student-register/">create an acount!</a></a></span>
            
            <style>
              #L1, #L2{
                color: #000000;
                font-size: 20px;
                font-weight: 500;
                line-height: 1.5;
                margin-bottom: 0;
                margin-top: 0;
                text-align: center;
              }
              .otherlogin{
                margin-left: 90px;
              }
            </style>
            <div class = "otherlogin">
              <span id = "L1" class="d-block text-left my-4 text-muted">&mdash; or login as &mdash;</span>
              <span id = "L2" class="d-block text-left my-4 text-muted"> <a href="/faculty-login/">Faculty</a> &ensp;  |  &ensp; <a href="/staff-login/">Staff</a></span>
            </div>

            </div>
          </div>
          
        </div>
        
      </div>
    </div>
  </div>

  
    <script src="{% static '/login/js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static '/login/js/popper.min.js' %}"></script>
    <script src="{% static '/login/js/bootstrap.min.js' %}"></script>
    <script src="{% static '/login/js/main.js' %}"></script>
    
  </body>
</html>